body{
    margin: 0 auto;
    text-align: center
}
h1{
    color: blue
}
.inputFile{
  width:200px;
  margin:0 auto;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
  }
   
  tr:nth-child(even) {
    background: #d4d4d4;
  }
   
  th, td {
    padding: 10px 30px;
  }
   
  th {
    border-bottom: 1px solid #d4d4d4;
  }    
  #example-table{
  
  }
  #chartdiv {
    width: 100%;
    height: 900px;
  }